@import "_normalize.css"; // style normalization

body {
	background-color: #f2f2f2;
	font-family: "Arial", sans-serif;
	color: #bbb;
}

img {
	max-width: calc(100% - 50%);
}

/* comment that is too long the max length */
a {
	transform: translate(.5, 1) scale(3);
	&:hover {
		color: #fff;
	}
}

b { font-family: "Arial", sans-serif; } 